[submodule "third_party/mtensor"]
	path = third_party/mtensor
	url = https://github.com/matazure/mtensor
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "prajna"]
	path = prajna
	url = https://github.com/prajna-lang/prajna.git
[submodule "third_party/cpuinfo"]
	path = third_party/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
[submodule "third_party/C-Thread-Pool"]
	path = third_party/C-Thread-Pool
	url = https://github.com/Pithikos/C-Thread-Pool
