[submodule "third_party/mtensor"]
	path = third_party/mtensor
	url = https://github.com/matazure/mtensor
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "prajna"]
	path = third_party/prajna
	url = https://github.com/prajna-lang/prajna.git
[submodule "third_party/cpuinfo"]
	path = third_party/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
[submodule "third_party/C-Thread-Pool"]
	path = third_party/C-Thread-Pool
	url = https://github.com/Pithikos/C-Thread-Pool
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark
[submodule "third_party/z3"]
	path = third_party/z3
	url = https://github.com/Z3Prover/z3.git
